*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-size: 16px;
  
    color: rgb(255, 204, 1);
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
}
ul,li {
    list-style-type:none;
}

a:link,
a:visited {
  text-decoration:none;
  color: rgb(255, 204, 1);

}
